<form action="/" method="post">
  <p><input name="name" placeholder="name"/></p>
  <p><input name="breed" placeholder="breed"/></p>
  <p><input name="age" placeholder="age"/></p>
  <button>submit</button>
</form>
