<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
		<form method = "post" action = "create_puppy">
			<label>Puppy Name: <input type="text" name="name" ></label><br/>
			<label>Puppy Breed: <input type="text" name="breed" ></label><br/>
			<label>Puppy Age: <input type="text" name="age" ></label><br/>

			<input type="submit" value="submit" /></label><br/>
		</form>
</body>
</html>